asgiref
beautifulsoup4
bleach
Django
django-bootstrap5
django-ckeditor
django-jazzmin
django-js-asset
django-summernote
django-user-agents
Faker
gunicorn
itsdangerous
Pillow
psycopg2
python-dateutil
python-decouple
shortuuid
six
soupsieve
sqlparse
tzdata
ua-parser
user-agents
webencodings
whitenoise
