{% extends '../base.html' %}
{% load static %}
{% block title %}Become Seller{% endblock %}
{% block content %}
<main>
    <section class="py-lg-16 py-10"
            style="background: url({% static 'img/hero custom.png' %})no-repeat; background-position: center; background-size: cover;">
        <div class="container">

            <div class="ps-lg-12 py-lg-7 col-xxl-5 col-md-7 py-14 px-8 text-xs-center">
              <h2 class="text-dark display-5 fw-bold mt-4">Start selling fast</h2>
              <p class="lead">Sell your product with us and get paid fast.</p>
              <a href="#" class="btn btn-dark mt-3">Sell Now <i class="feather-icon icon-arrow-right ms-1"></i></a>
            </div>

          </div>
      </div>
    </section>

    <section>
      <div class="container mt-10">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-8 mb-xl-0">
              <h3 class="h5 mb-3">
                Sell your products with easy
              </h3>
              <p>Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-8 mb-xl-0">
              <h3 class="h5 mb-3">Get paid fast</h3>
              <p>Cheaper prices than your local supermarket, great cashback offers to top it off. Get best pricess &
                offers.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mb-8 mb-xl-0">
              <h3 class="h5 mb-3">It's free to sell</h3>
              <p>Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg & other
                categories.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


  <section>
    <div class="container mt-10">
      <div class="row">
        <div class="col-12">

          <div class="mb-4 bg-light d-lg-flex justify-content-between align-items-center rounded">
            <div class="  p-10">

              <h2 class="mb-1 fw-bold">Have products</h2>
              <p class="mb-0 lead">Start salling with us and sell your products faster and easier.
              </p>
              <a href="#" class="btn btn-dark mt-5">Start Selling</a>

            </div>
            <div class="p-6 d-lg-block d-none"><img src="{% static 'assets/images/svg-graphics/store-graphics.svg' %}" alt=""
                class="img-fluid">
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark mt-10"
    style="background:url({% static 'assets/images/svg-graphics/pattern.svg' %})no-repeat; background-size: cover; background-position: center;">
    <div class="container">
       <!-- row -->
      <div class="row">
        <div class="offset-lg-1 col-lg-10">

          <div class="row align-items-center">
             <!-- col -->
            <div class="col-md-6">
              <div class="text-white mt-8 mt-lg-0">
                <h2 class="h2 text-white  my-4">Get top deals, latest trends,
                  and more.</h2>
                <p class="text-white-50">Join our email subscription now to get updates on promotions
                  and coupons.</p>
                   <!-- form -->
                <form action="{% url 'main:email_subscribe' %}" method="post" class="row g-3">
                  {% csrf_token %}

                  <div class="col-6">
                     <!-- input -->
                    <label for="emailAddress" class="visually-hidden">Email Address</label>
                    {{ email_form.email }}
                  </div>
                   <!-- btn -->
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Sign Up</button>
                  </div>
                </form>
              </div>
            </div>
             <!-- col -->
            <div class="col-md-6">
              <div class="text-center">
                 <!-- img -->
                <img src="{% static 'img/email-removebg.png' %}" alt="" style="filter: brightness(85%);" class="img-fluid d-md-block d-none">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
