{% load static %}
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
    <!-- offcanvas header -->
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasAccountLabel">Menu</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
      <!-- offcanvas body -->
    <div class="offcanvas-body">
      <ul class="nav flex-column nav-pills nav-pills-dark">
          <!-- nav item -->
        <li class="nav-item">
          <a class="nav-link  {{ dashboard }}" aria-current="page" href="/seller/dashboard"><i
            class="feather-icon icon-home me-2"></i>Dashboard</a>
        </li>
          <!-- nav item -->
        <li class="nav-item">
          <a class="nav-link {{ products }}" href="/seller/products"><i
            class="feather-icon icon-shopping-bag me-2"></i>Products</a>
        </li>
          <!-- nav item -->
        <li class="nav-item">
          <a class="nav-link {{ requests }}" href="/seller/requests"><i
            class="feather-icon icon-shopping-cart me-2"></i>Requests</a>
        </li>
      </ul>
      <hr class="my-6">
      <div>
          <!-- nav  -->
        <ul class="nav flex-column nav-pills nav-pills-dark">
            <!-- nav item -->
          <li class="nav-item">
            <a class="nav-link " href="/signout"><i class="feather-icon icon-log-out me-2"></i>Log out</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
