{% load static %}
{% load custom_filters %}

 <div class="table-responsive">
  <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
    <thead class="bg-light">
      <tr>
        <th>Product</th>
        <th>Customer</th>
        <th>Items</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for ordered_product in order_product %}
        <td><a href="{% url 'main:product_detail' pk=ordered_product.product.id %}" class="text-inherit text-decoration-none">{{ ordered_product.product.name }}</a></td>
        <td>{{ ordered_product.buyer.name|default:'-' }}</td>
        <td>{{ ordered_product.quantity }}</td>
        <td>{{ ordered_product.date|date:"F j, Y" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>