{% extends '../base.html' %}
{% load static %}
{% block title %}Orders{% endblock %}

{% block content %}
  <main>
  <!-- section -->
  <section>
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- col -->
        {% with orders='active' %}
          {% include '../include/little_sidebar.html' with orders=orders %}
        {% endwith %}
        <div class="col-lg-9 col-md-8 col-12">
          <div class="py-6 p-md-6 p-lg-10">
            <!-- heading -->
            <div class="d-flex justify-content-between align-items-center pb-4 pt-md-1 pt-1">
              <!-- heading -->
              <h2 class="mb-0">Your Orders</h2>
              <button class="btn btn-outline-gray-400 text-muted d-md-none btn-icon btn-sm ms-3 " type="button"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasAccount" aria-controls="offcanvasAccount">
              <i class="bi bi-text-indent-left fs-3"></i>
            </button>
            </div>

            <div class="table-responsive-xxl border-0">
              <!-- Table -->
              <table class="table mb-0 text-nowrap table-centered ">
                <!-- Table Head -->
                <thead class="bg-light">
                  <tr>
                    <th>&nbsp;</th>
                    <th>Product</th>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Amount</th>

                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Table body -->
                  {% for order in orders %}
                  <tr>
                    <td class="align-middle border-top-0 w-0">
                      <a href="#"> <img src="{{ order.product.image.url }}" alt="{{ order.product.name }}"
                          class="icon-shape icon-xl"></a>

                    </td>
                    <td class="align-middle border-top-0">
                        <h6 class="mb-0">{{ order.product.name }}</h6>

                    </td>
                    <td class="align-middle border-top-0">
                      {{ order.id }}

                    </td>
                    <td class="align-middle border-top-0">
                      {{ order.date|date:"F j, Y" }}

                    </td>
                    <td class="align-middle border-top-0">
                      <span class="badge bg-secondary">{{ order.order_status }}</span>
                    </td>
                    <td class="align-middle border-top-0">
                      ₦{{ order.product.price }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% with orders='active' %}
  {% include '../include/little_modelbar.html' with orders=orders %}
{% endwith %}

{% endblock %}
